/* Menu */

div.menu {
    /*position: relative !important;	 absolute;*/
    position: absolute;
    z-index: 5555 !important;

    /*list-style-type: none;*/
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    /*width: 500px;*/
    border: 1px solid rgba(0, 0, 0, .15);
    top: +100;
    left: +500;
}
div.menu table tr td {
	/*padding:1px 1px 2px 2px;*/
	padding:5px;
	/*border:1px solid #000;*/
	border-width:0 1px 1px 0;
	/*text-align:right;*/
	background:#fff;
}
div.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.liveSearchResults {
	position:absolute;
	z-index:999999;
	border:1px solid black;
	padding:4px 5px 4px 5px;
	font-size:11px;
	background-color:#ADD8E6;
}

/*body
{
	font-family: sans-serif;
	font-size: 12pt;
}

.container {
	position: relative;
	margin: 10%;
	display: block;
	text-align: center;
}

input
{
	width: 50%;
	top: 25%;
	height: 30px;
}
*/