/app/scripts/controllers/xxbudgetController_old.js
/app/scripts/controllers/xxdashboardController_old.js
/app/scripts/controllers/modals/xxeditModalController_old.js
/api/application/models/xxtransaction_repeat_every.php
/api/application/logs/
/api/uploads/
/api/cli/logs/
/api/error_log
/api/public/error_log
/nbproject/
/nbproject/private/
/nbproject/project.xml