<!DOCTYPE html>
<html lang="en" ng-app="budgetApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../../assets/ico/favicon.png">

		<title>Budget Tracker</title>

		<!-- Bootstrap core CSS -->
		<link href="app/styles/bootstrap.min.css" rel="stylesheet">
		<link href="app/styles/jasny-bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="app/styles/maxcdn-bootstrap.min.css">

		<!-- Custom styles for this template -->
		<link href="app/styles/navmenu.css" rel="stylesheet">
		<link href="app/styles/message.css" rel="stylesheet">
		<link href="app/styles/table-styles.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div>
<!--			<div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>
			<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
			<div ng-switch on="currentUser.role">
				<div ng-switch-when="userRoles.admin">You're admin.</div>
				<div ng-switch-when="userRoles.editor">You're editor.</div>
				<div ng-switch-default>You're something else.</div>
			</div>-->
			<ng-include src="'app/views/templates/sidenav.html'"></ng-include>
			<div ng-view=""></div>
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="scripts/angularjs/angular.js"></script>
		<script src="scripts/angularjs/angular-resource.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
		<script src="scripts/angularjs/angular-route.min.js"></script>		
		<script src="scripts/jquery/jquery-1.10.2.min.js"></script>
		<script src="scripts/bootstrap.min.js"></script>
		<script src="scripts/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
		<script src="scripts/jasny-bootstrap.min.js"></script>
		<script src="scripts/ngContextMenu.js"></script>

		<script src="app/scripts/app.js"></script>
		<script src="app/scripts/controllers/loginController.js"></script>
		<script src="app/scripts/controllers/logoutController.js"></script>
		<!--<script src="app/scripts/controllers/applicationController.js"></script>-->
<!--		<script src="app/scripts/controllers/navigationController.js"></script>-->

		<script src="app/scripts/controllers/homeController.js"></script>
		<script src="app/scripts/controllers/dashboardController.js"></script>
		<script src="app/scripts/controllers/forecastController.js"></script>
		<script src="app/scripts/controllers/deleteForecastModalController.js"></script>
		<script src="app/scripts/controllers/editForecastModalController.js"></script>
		<script src="app/scripts/controllers/transactionsController.js"></script>
		<script src="app/scripts/controllers/uploadsController.js"></script>
		<script src="app/scripts/controllers/settingsController.js"></script>
		<script src="app/scripts/controllers/deleteModalController.js"></script>
		<script src="app/scripts/controllers/editModalController.js"></script>
		<script src="app/scripts/controllers/uploadModalController.js"></script>
		<script src="app/scripts/controllers/postUploadedModalController.js"></script>
		<script src="app/scripts/controllers/deleteUploadedModalController.js"></script>

		<!--<script src="app/scripts/constants/auth_events.js"></script>-->
		<script src="app/scripts/constants/user_roles.js"></script>

		<script src="app/scripts/services/auth.js"></script>
<!--		<script src="app/scripts/services/user.js"></script>-->

		<script src="app/scripts/services/data.js"></script>
		<script src="app/scripts/services/fileUpload.js"></script>

		<script src="app/scripts/filters/dateFormat.js"></script>

		<!--<script src="app/scripts/directives/login.js"></script>-->
		<script src="app/scripts/directives/rightClick.js"></script>
		<script src="app/scripts/directives/fileModel.js"></script>
	</body>
</html>
