<script type="text/ng-template" id="editModal.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6" style="width:22%;">
				<label for="date">Date</label>
				<p class="input-group" ng-class="{ 'has-error' : validation.date }">
					<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" name="date" ng-model="transaction.transaction_date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
				<span class="help-block" ng-show="validation.date">{{ validation.date }}</span>
			</div>
			<div class="col-md-2" style="width:42%;">
				<div class="form-group" ng-class="{ 'has-error' : validation.description }">
					<label for="description">Description</label>
					<input type="text" name="description" class="form-control" ng-model="transaction.description" />
					<span class="help-block" ng-show="validation.description">{{ validation.description }}</span>
				</div>
			</div>
			<div class="col-md-2" style="width:20%;">
				<div class="form-group">
					<label for="description">Amount</label>
					<span class="form-control">{{getTotal()}}</span>
				</div>
			</div>
			<div class="col-md-2" style="width:14%;padding-top:25px;">
				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-model="singleModel" ng-click="addItem()">
						Add Item
					</button>
				</div>
			</div>
		</div>
		<div class="row" ng-class="{ 'has-error' : validation.categories }">
			<div class="col-md-2" style="width:40%;">
				<span class="help-block" ng-show="validation.categories">{{ validation.categories }}</span>
			</div>
		</div>
		<div class="table-responsive">
			<table style="width:100%;">
				<tr>
					<th><span class="pull-left">Type</span></th>
					<th><span class="pull-left">Check Num</span></th>
					<th><span class="pull-left">Amount</span></th>
					<th><span class="pull-left">Category</span></th>
					<th><span class="pull-left">Notes</span></th>
					<th></th>
				</tr>
				<tr ng-repeat="t in transaction.categories" ng-if="t.is_deleted != 1">
					<td class="col-sm-2" style="width:15%;vertical-align:top;" ng-class="{ 'has-error' : validation.items.type[$index] }">
						<select class="form-control" ng-model="t.type">
							<option ng-selected="t.type == 'CHECK'" value="CHECK">Check</option>
							<option ng-selected="t.type == 'DEBIT'" value="DEBIT">Debit</option>
							<option ng-selected="t.type == 'CREDIT'" value="CREDIT">Credit</option>
						</select>
						<span class="help-block" ng-show="validation.items.type[$index]">{{ validation.items.type[$index] }}</span>
					</td>
					<td class="col-sm-2" style="width:15%;vertical-align:top;">
						<input type="text" class="form-control" ng-model="t.check_num" />
					</td>
					<td class="col-sm-2" style="width:15%;vertical-align:top;" ng-class="{ 'has-error' : validation.items.amount[$index] }">
						<input type="text" class="form-control" ng-model="t.amount" />
						<span class="help-block" ng-show="validation.items.amount[$index]">{{ validation.items.amount[$index] }}</span>
					</td>
					<td class="col-sm-2" style="width:20%;vertical-align:top;" ng-class="{ 'has-error' : validation.items.category_id[$index] }">
						<select class="form-control" ng-model="t.category_id" ng-options="category.id as category.name for category in categories"></select>
						<span class="help-block" ng-show="validation.items.category_id[$index]">{{ validation.items.category_id[$index] }}</span>
					</td>
					<td class="col-md-2" style="width:30%;vertical-align:top;">
						<input type="text" class="form-control" ng-model="t.notes" />
					</td>
					<td class="col-md-2" style="width:5%;vertical-align:top;">
						<span class="glyphicon glyphicon-trash" ng-click="deleteItem($index)" style="cursor:pointer;"></span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Save</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>
