<script type="text/ng-template" id="editBankModal.html">
	<div class="modal-header ng-scope">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body ng-scope">
		<div class="row">
			<div class="col-md-6">
				<label for="name">Bank Name</label>
				<div class="form-group" ng-class="{'has-error':validation.bank_account_id}">
					<input type="text" name="name" ng-model="bank.name" />
				</div>
			</div>
			<div class="col-md-2" style="padding-top:25px;">
				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-model="singleModel" ng-click="addAccount()">
						Add Account
					</button>
				</div>
			</div>
		</div>
		<div class="table-responsive" ng-if="bank.accounts[0]">
			<table style="width:70%;">
				<tr>
					<th><span class="pull-left">Name</span></th>
					<th><span class="pull-left">Starting Balance</span></th>
					<th>Date Opened</th>
					<th>Date Closed</th>
					<!--<th></th>-->
				</tr>
				<tr ng-repeat="account in bank.accounts" ng-if="account.is_deleted != 1">
					<td class="col-sm-2" style="width:35%;vertical-align:top;" ng-class="{'has-error':validation.accounts.name[$index]}">
						<input type="text" class="form-control" ng-model="account.name" />
						<span class="help-block" ng-show="validation.accounts.name[$index]">{{validation.accounts.name[$index]}}</span>
					</td>
					<td class="col-md-2" style="width:15%;vertical-align:top;" ng-class="{'has-error':validation.accounts.balance[$index]}">
						<input type="text" class="form-control" ng-model="account.balance" />
						<span class="help-block" ng-show="validation.accounts.balance[$index]">{{validation.accounts.balance[$index]}}</span>
					</td>
					<td class="col-md-2" style="width:25%;vertical-align:top;" ng-class="{'has-error':validation.accounts.date_opened[$index]}">
						<div class="form-group">
							<p class="input-group">
								<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="account.date_opened" is-open="opened2[$index]" ng-required="true" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open2($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
							<span class="help-block" ng-show="validation.accounts.date_opened[$index]">{{validation.accounts.date_opened[$index]}}</span>
						</div>
					</td>
					<td class="col-md-2" style="width:25%;vertical-align:top;" ng-class="{'has-error':validation.accounts.date_closed[$index]}">
						<div class="form-group">
							<p class="input-group">
								<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="account.date_closed" is-open="opened1[$index]" ng-required="true" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open1($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
							<span class="help-block" ng-show="validation.accounts.date_closed[$index]">{{validation.accounts.date_closed[$index]}}</span>
						</div>
					</td>
<!--					<td class="col-md-2" style="width:10%;vertical-align:top;">
						<span class="glyphicon glyphicon-trash" ng-click="deleteAccount($index)" style="cursor:pointer;" title="Delete Account ?"></span>
					</td>-->
				</tr>
				<tr style="height:375px;">
					<td colspan="4" style="background-color:#FFFFFF;"> &nbsp; </td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer ng-scope">
		<button class="btn btn-primary" ng-click="save()">Save</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>
