<script type="text/ng-template" id="transactions">
	<div class="triangle"></div>
	<div>
		<div>{{ title }}</div>
		<div class="table-responsive" style="font-size:12px;">
			<table style="width:100%;">
				<thead>
					<tr>
						<th>Date</th>
						<th>Description</th>
						<th>Account</th>
						<th>Type</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="!dataErrorMsgThese" ng-repeat="idx in transactions_seq" ng-class="{ 'forecast_amount':transactions[idx].is_forecast }">
						<td>
							<span class="pull-left">{{ transactions[idx].transaction_date|date:'EEE MMM dd, yyyy' }}</span>&nbsp;
							<span ng-if="transactions[idx].is_uploaded == 1" class="glyphicon glyphicon-upload" title="Uploaded"></span>
							<span ng-if="transactions[idx].reconciled_date"><img ng-src="app/images/transparent-green-checkmark-th.png" height="12" width="8" title="Reconciled" /></span>
						</td>
						<td>{{ transactions[idx].description }}<span ng-if="transactions[idx].notes"> - <em>{{ transactions[idx].notes }}</em></span></td>
						<td>{{ transactions[idx].bankName }} {{ transactions[idx].accountName }}</td>
						<td>{{ transactions[idx].type }}</td>
						<td><span class="pull-right">{{ transactions[idx].amount|currency }}</span></td>
					</tr>
					<tr ng-if="dataErrorMsgThese" ng-repeat="error in dataErrorMsgThese">
						<td colspan="4">{{ error.error }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</script>
	