<script type="text/ng-template" id="postUploadedModal.html">
	<div class="modal-header">
		<h3 class="modal-title">{{ title }}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-3">
				<label>Bank Account:</label> {{ transaction.bank_account.bank.name }} {{ transaction.bank_account.name }}
			</div>
			<div class="col-md-3">
				<label>Date:</label> {{ transaction.transaction_date|date:'EEE MMM dd, yyyy' }}
			</div>
			<div class="col-md-6">
				<label>Description:</label> {{ transaction.description }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Type:</label> {{ transaction.type }}
			</div>
			<div class="col-md-3" ng-if="transaction.type == 'CHECK'">
				<label>Check Num:</label> {{ transaction.check_num }}
			</div>
			<div class="col-md-4">
				<label>Amount:</label> {{ transaction.amount|currency }}
			</div>
			<div class="col-md-2 left">
				<button type="button" class="btn btn-primary" ng-model="singleModel" ng-click="is_split = !is_split">
					Split
				</button>
			</div>
		</div>
		<div class="row">
			<fieldset ng-disabled="isSaving">
				<div class="col-md-4" ng-if="!is_split">
					<div class="form-group" ng-class="{ 'has-error': validation.vendor_id }">
						<div id="liveSearch">
							<label for="name">Payee/Payer</label>{{ display_name }}
							<div live-search="vendor_id" display_name="{{ display_name }}"></div>
						</div>
						<span class="help-block" ng-show="validation.vendor_id">{{ validation.vendor_id }}</span>
					</div>
				</div>
				<div class="col-sm-4" ng-if="!is_split">
					<label for="category">Category</label>
					<div class="form-group" ng-class="{'has-error':validation.category_id}">
						<select class="form-control" name="category" ng-model="transaction.category_id" ng-options="category.id as category.name for category in categories"></select>
						<span class="help-block" ng-show="validation.category_id">{{ validation.category_id }}</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="notes">Notes</label>
						<input type="text" name="notes" class="form-control" ng-model="transaction.notes" />
					</div>
				</div>
			</fieldset>
		</div>
		<div split-tran is-split="{{ is_split }}"></div>
		<div class="table-responsive" ng-if="transactions[0]">
			<div class="row">
				<div class="col-sm-12">
					<h3>Possible Duplicate Transactions</h3>
					<span>Select possible duplicate transaction to overwrite</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table style="width:100%;">
						<thead>
							<tr>
								<th><span class="pull-left">Date</span></th>
								<th><span class="pull-left">Bank</span></th>
								<th><span class="pull-left">Type</span></th>
								<th><span class="pull-left">Description</span></th>
								<th><span class="pull-left">Amount</span></th>
								<th><span class="pull-left">Category</span></th>
								<th><span class="pull-left">Vendor</span></th>
							</tr>
						</thead>
						<tbody ng-repeat="idx in transactions_seq">
							<tr ng-click="setSelected(transactions[idx])" ng-class="{selected: transactions[idx].id === idSelectedTransaction}">
								<td class="col-sm-2">
									<span class="pull-left">{{ transactions[idx].transaction_date|date:'EEE MMM dd, yyyy' }}</span> &nbsp;
									<span ng-if="transactions[idx].is_transaction == 1" class="glyphicon glyphicon-upload" title="Uploaded"></span>
									<img ng-if="transactions[idx].reconciled_date" ng-src="app/images/transparent-green-checkmark-th.png" height="12" width="8" title="Reconciled" /> 
								</td>
								<td class="col-sm-2">
									<span class="pull-left">{{ transactions[idx].bank_account.bank.name }} {{ transactions[idx].bank_account.name }}</span>
								</td>
								<td class="col-sm-1">
									<span class="pull-left">{{ transactions[idx].type }}</span>
								</td>
								<td class="col-sm-3" style="font-size: 10px;">
									<span class="pull-left">{{ transactions[idx].description }}</span>
									<span ng-if="transactions[idx].notes"> - <em>{{ transactions[idx].notes }}</em></span>
								</td>
								<td class="col-sm-1">
									<span class="pull-right">{{ transactions[idx].amount|currency }}</span>
								</td>
								<td class="col-sm-2" ng-if="transactions[idx].category_id">
									<span class="pull-left">{{ transactions[idx].category.name }}</span>
								</td>
								<td class="col-sm-2" ng-if="transactions[idx].vendor_id">
									<span class="pull-left">{{ transactions[idx].vendor.name }}</span>
								</td>
								<td class="col-sm-4" colspan="2" ng-if="!transactions[idx].category_id && !transactions[idx].vendor_id">
									<span>--Split--</span>
								</td>
							</tr>
							<tr ng-repeat="split in transactions[idx].splits" style="font-size: 10px;" ng-class="{selected: transactions[idx].id === idSelectedTransaction}">
								<td colspan="2"></td>
								<td class="col-sm-1">{{ split.type }}</td>
								<td class="col-sm-3">{{ split.notes }}</td>
								<td class="col-sm-2"><span class="pull-right">{{ split.amount|currency }}</span></td>
								<td class="col-sm-2">{{ split.category.name }}</td>
								<td class="col-sm-2">{{ split.vendor.name }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" ng-if="dataErrorMsg[0]">
				<div class="col-sm-12">
					<p class="text-muted" style="color:red;" ng-repeat="error in dataErrorMsg">{{error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="deleteUploaded()" ng-disabled="isSaving">Discard</button>
		<button class="btn btn-primary" ng-click="postUploaded()" ng-disabled="isSaving">{{ post }}</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>
