<script type="text/ng-template" id="assignModal.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				Description: {{uploaded.description}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				Date: {{uploaded.transaction_date|date:'EEE MMM dd, yyyy'}}
			</div>
			<div class="col-sm-2">
				Type: {{uploaded.type}}
			</div>
			<div class="col-sm-2">
				Check Num: {{uploaded.check_num}}
			</div>
			<div class="col-sm-2">
				Amount: {{uploaded.amount}}
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<table style="width:100%;">
				<tr>
					<th><span class="pull-left">Date</span></th>
					<th><span class="pull-left">Description</span></th>
					<th><span class="pull-left">Amount</span></th>
					<th><span class="pull-left">Category</span></th>
					<th><span class="pull-left">Notes</span></th>
					<th></th>
				</tr>
				<tr ng-repeat="idx in transactions_seq">
					<td class="col-sm-2">
						{{transactions[idx].transaction_date|date:'EEE MMM dd, yyyy'}}
					</td>
					<td class="col-sm-2">
						{{transactions[idx].description}}
					</td>
					<td class="col-md-2">
						{{transactions[idx].amount}}
					</td>
					<td class="col-md-2">
						{{transactions[idx].category_id}}
					</td>
					<td class="col-md-2">
						{{transactions[idx].Notes}}
					</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Save</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>
