  <script type="text/ng-template" id="menu">
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
      <ul>
        <li ng-repeat="item in items"><a>{{item.name}}</a></li>
      </ul>
    </div>
  </script>

  <script type="text/ng-template" id="close">
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
        <ul>
            <li ng-repeat="item in items"><input type="checkbox">{{item.name}}</li>
        </ul>
      <button ng-click="hidePopover()">Close</button>
    </div>
  </script>

  <script type="text/ng-template" id="tooltip">
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
      Cool! The <b>nsPopover</b> could be used as a tooptip.
    </div>
  </script>
