<ng-include src="'app/views/templates/deleteBankModal.html'"></ng-include>
<ng-include src="'app/views/templates/editBankModal.html'"></ng-include>

<div class="container-fluid">
	<h1 class="page-header">Bank Settings</h1>
	<div ng-if="error">{{error}}</div>
	<div class="form-wrap" ng-if="searchDisplay">
		<form>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control input-sm search" name="name" data-length="4" ng-model="search.name" ng-change="refreshData()" />
					</div>
				</div>
				<div class="col-md-2" style="padding-top:20px;">
					<div class="form-group">
						<button type="button" class="btn btn-primary" ng-model="singleModel" ng-click="addBank()">
							Add Bank
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="table-responsive" style="width:30%;" ng-if="!dataErrorMsg[0] && !error">
		<table>
			<thead>
				<tr>
					<th style="width:80%;">Name</th>
					<th style="width:20%;"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="idx in banks_seq">
					<td><span class="pull-left">{{banks[idx].name}}</span></td>
					<td>
						<span class="glyphicon glyphicon-pencil" ng-click="editBank(banks[idx].id)" style="cursor:pointer;" title="Edit Bank ?"></span>
						<span class="glyphicon glyphicon-trash" ng-click="deleteBank(banks[idx].id)" style="cursor:pointer;" title="Delete Bank ?"></span>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="recCount > itemsPerPage">
			<div class="col-sm-12">
				<pagination boundary-links="true" max-size="maxSize" total-items="recCount" items-per-page="itemsPerPage" ng-model="search.currentPage"
					previous-text="&lsaquo;"  next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
				<span style="vertical-align:middle;padding-left:40px;">Total records: {{recCount | number}}</span>
			</div>
		</div>
	</div>
	<div ng-if="dataErrorMsg[0]">
		<p class="text-muted" ng-repeat="error in dataErrorMsg">{{error}}</p>
	</div>
</div>
