<div class="container-fluid">
	<h1 class="page-header">Dashboard</h1>
	<div ng-show="dashboard.error">{{ dashboard.error }}</div>
	<div class="row">
		<div class="col-md-3">
			<div ng-show="dashboard.dataErrorMsg[0]">
				<p ng-repeat="error in dashboard.dataErrorMsg"><span style="color:red;">{{ error }}</span></p>
			</div>
		</div>
	</div>
	<tabset>
		<tab heading="Category Yotals YTD">
			<div class="row">
				<div class="col-md-3">
					<select ng-options="year as year for year in dashboard.ytdYear" ng-model="dashboard.selectedYear" ng-change="getYTD()"></Select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-4"><b>Category</b></div>
						<div class="col-md-2"><span class="pull-right"><b>Actual</b></span></div>
						<div class="col-md-3"><span class="pull-right"><b>Forecast</b></span></div>
						<div class="col-md-3"><span class="pull-right"><b>Difference</b></span></div>
					</div>
					<div ng-repeat="ytdTotal in dashboard.ytdTotals[dashboard.selectedIndex]">
						<div class="row">
							<div class="col-md-4">{{ ytdTotal.name }}</div>
							<div class="col-md-2" ng-click="getYTDTransactions(ytdTotal.id, ytdTotal.year)"><span class="pull-right">{{ ytdTotal.total | currency }}</span></div>
							<div class="col-md-3"><span class="pull-right forecast_amount">{{ ytdTotal.forecast | currency }}</span></div>
							<div class="col-md-3"><span class="pull-right" ng-class="{'overbudget':(ytdTotal.total - ytdTotal.forecast) < 0}"><b>{{ ytdTotal.total - ytdTotal.forecast | currency }}</b></span></div>
						</div>
					</div>
				</div>
				<div class="col-md-7" ng-show="dashboard.transactions" style="overflow:scroll; height:500px;">
					<h4>YTD Transactions for Category</h4>
					<div class="table-responsive">
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Description</th>
									<th>Type</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="idx in dashboard.transactions_seq" ng-if="!dashboard.dataErrorMsgThese">
									<td><span class="pull-left">{{ dashboard.transactions[idx].transaction_date|date:'EEE MMM dd, yyyy' }}</span></td>
									<td>
										<a tooltip="{{ dashboard.transactions[idx].description }}">{{ dashboard.transactions[idx].vendorName}}</a><br />
										<span ng-if="dashboard.transactions[idx].notes"> - <em>{{ dashboard.transactions[idx].notes }}</em></span>
									</td>
									<td>{{ dashboard.transactions[idx].type }}</td>
									<td><span class="pull-right">{{ dashboard.transactions[idx].amount|currency }}</span></td>
								</tr>
								<tr ng-repeat="error in dashboard.dataErrorMsgThese" ng-if="dashboard.dataErrorMsgThese">
									<td colspan="4">{{ error.error }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Year to Year Comparison">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-4"><b>Category</b></div>
						<div class="col-md-2" ng-repeat="year in dashboard.ytdYear track by $index">
							<span class="pull-right"><b>{{ year }}</b></span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="row" ng-repeat="category in dashboard.ytdTotals[0]">
								<div class="col-md-12">{{ category.name }}</div>
							</div>
						</div>
						<div class="col-md-2" ng-repeat="ytdTotals in dashboard.ytdTotals track by $index">
							<div class="row" ng-repeat="ytdTotal in ytdTotals">
								<div class="col-md-12" ng-if="!ytdTotal.future"><span class="pull-right">&nbsp;{{ ytdTotal.total | currency }}</span></div>
								<div class="col-md-12" ng-if="ytdTotal.future"><span class="pull-right forecast_amount"">&nbsp;{{ (ytdTotal.total + ytdTotal.forecast) | currency  }}</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Upcoming forecast payments">
			<div class="row">
				<div class="col-md-2"><span class="pull-left"><b>Date</b></span></div>
				<div class="col-md-3"><span class="pull-left"><b>Description</b></span></div>
				<div class="col-md-1"><span class="pull-right"><b>Debit</b></span></div>
				<div class="col-md-1"><span class="pull-right"><b>Credit</b></span></div>
			</div>
			<div class="row" ng-repeat="repeat in dashboard.repeats" ng-class="{'overdue': repeat.dueDate <= dashboard.now}">
				<div class="col-md-2">{{ repeat.next_due_date|date:'EEEE MMM dd, yyyy' }}</div>
				<div class="col-md-3">{{ repeat.description }}</div>
				<div class="col-md-1"><span ng-if="repeat.type == 'CHECK' || repeat.type == 'DEBIT' || repeat.type == 'SALE'" class="pull-right">{{ repeat.amount|currency }}</span></div>
				<div class="col-md-1"><span ng-if="repeat.type == 'CREDIT' || repeat.type == 'DSLIP' || repeat.type == 'RETURN' || repeat.type == 'PAYMENT'" class="pull-right">{{ repeat.amount|currency }}</span></div>
			</div>
		</tab>
		<tab heading="Account Balances">
			<div class="well" style="width:50%">
				<table id="newtable" class="table table-bordered table-striped">
					<tr class="row" style="table-row">
						<th><span class="pull-left">Account</span></th>
						<th><span class="pull-left">Date</span></th>
						<th><span class="pull-right">Balance</span></th>
					</tr>
					<tr class="row" ng-repeat="balance in dashboard.balances">
						<td>{{ balance.account_name }}</td>
						<td>{{ balance.transaction_date|date:'EEEE MMM dd, yyyy' }}</td>
						<td><span class="pull-right">{{ balance.bank_account_balance|currency }}</span></td>
					</tr>
				</table>
			</div>
		</tab>
	</tabset>
</div>
