<div class="container-fluid"><!-- viewport-width>-->
	<h1 class="page-header">Dashboard</h1>
	<div ng-if="error">{{error}}</div>
	<div class="row">
		<div class="col-md-3">
			<h3>YTD Totals by category</h3>
			<div ng-repeat="ytdTotal in ytdTotals">
				<div class="row">
					<div class="col-md-6">{{ytdTotal.name}}</div>
					<div class="col-md-6" ng-click="getYTDTransactions(ytdTotal.id, ytdYear)"><span class="pull-right">{{ytdTotal.total | currency}}</span></div>
				</div>
			</div>
		</div>
		<div class="col-md-5" ng-show="transactions">
			<h3>YTD Transactions for Category</h3>
			<div class="table-responsive">
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Description</th>
							<th>Type</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="idx in transactions_seq" ng-if="!dataErrorMsgThese">
							<td><span class="pull-left">{{transactions[idx].transaction_date|date:'EEE MMM dd, yyyy'}}</span></td>
							<td>{{transactions[idx].description}}<span ng-if="transactions[idx].notes"> - <em>{{transactions[idx].notes}}</em></span></td>
							<td>{{transactions[idx].type}}</td>
							<td><span class="pull-right">{{transactions[idx].amount|currency}}</span></td>
						</tr>
						<tr ng-repeat="error in dataErrorMsgThese" ng-if="dataErrorMsgThese">
							<td colspan="4">{{error.error}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Upcoming forecast payments</h3>
		</div>
	</div>
	<div ng-if="dataErrorMsg[0]">
		<p class="text-muted" ng-repeat="error in dataErrorMsg">{{error}}</p>
	</div>
</div>
