<div class="container-fluid">
	<h1 class="page-header">Dashboard</h1>
	<div ng-show="dashboard.error">{{ dashboard.error }}</div>
	<div class="row">
		<div class="col-md-3">
			<div ng-show="dashboard.dataErrorMsg[0]">
				<p ng-repeat="error in dashboard.dataErrorMsg"><span style="color:red;">{{ error }}</span></p>
			</div>
		</div>
	</div>
	<tabset>
		<tab heading="Category Yotals YTD">
			<div class="row">
				<div class="col-md-3">
					<select ng-options="year as year for year in dashboard.ytdYear" ng-model="dashboard.selectedYear" ng-change="getYTD()"></Select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="table-responsive well">
						<table class="table table-bordered table-striped">
							<tr>
								<th class="col-md-4"><b>Category</b></th>
								<th class="col-md-2"><span class="pull-right"><b>Actual</b></span></th>
								<th class="col-md-3"><span class="pull-right"><b>Forecast</b></span></th>
								<th class="col-md-3"><span class="pull-right"><b>Difference</b></span></th>
							</tr>
							<tr ng-repeat="category in dashboard.categories track by $index" ng-if="category.id != 17 && category.id != 22 && (dashboard.ytdTotals[dashboard.selectedIndex][category.id].inactive == null || dashboard.ytdTotals[dashboard.selectedIndex][category.id].year <= dashboard.ytdTotals[dashboard.selectedIndex][category.id].inactive)">
								<td class="col-md-4">{{ dashboard.ytdTotals[dashboard.selectedIndex][category.id].name }}</td>
								<td class="col-md-2" ng-click="getYTDTransactions(category.id, dashboard.ytdTotals[dashboard.selectedIndex][category.id].year)">
									<span class="pull-right">{{ dashboard.ytdTotals[dashboard.selectedIndex][category.id].total | currency }}</span>
								</td>
								<td class="col-md-3" ng-click="getYTDForecast(category.id, dashboard.ytdTotals[dashboard.selectedIndex][category.id].year)">
									<span class="pull-right forecast_amount">{{ dashboard.ytdTotals[dashboard.selectedIndex][category.id].forecast | currency }}</span>
								</td>
								<td class="col-md-3">
									<span class="pull-right" ng-class="{'overbudget':(dashboard.ytdTotals[dashboard.selectedIndex][category.id].total - dashboard.ytdTotals[dashboard.selectedIndex][category.id].forecast) < 0}">
										<b>{{ dashboard.ytdTotals[dashboard.selectedIndex][category.id].total - dashboard.ytdTotals[dashboard.selectedIndex][category.id].forecast | currency }}</b>
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-7" ng-show="dashboard.transactions" style="overflow:scroll; height:500px;">
					<h4>YTD Transactions for Category</h4>
					<div class="table-responsive well">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Date</th>
									<th>Description</th>
									<th>Type</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="idx in dashboard.transactions_seq" ng-if="!dashboard.dataErrorMsgThese">
									<td><span class="pull-left">{{ dashboard.transactions[idx].transaction_date|date:'EEE MMM dd, yyyy' }}</span></td>
									<td>
										<a tooltip="{{ dashboard.transactions[idx].description }}">{{ dashboard.transactions[idx].vendorName}}</a><br />
										<span ng-if="dashboard.transactions[idx].notes"> - <em>{{ dashboard.transactions[idx].notes }}</em></span>
									</td>
									<td>{{ dashboard.transactions[idx].type }}</td>
									<td><span class="pull-right">{{ dashboard.transactions[idx].amount|currency }}</span></td>
								</tr>
								<tr ng-repeat="error in dashboard.dataErrorMsgThese" ng-if="dashboard.dataErrorMsgThese">
									<td colspan="4">{{ error.error }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-7" ng-show="dashboard.forecast" style="overflow:scroll; height:500px;">
					<h4>YTD Forecast for Category</h4>
					<div class="table-responsive well">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Date</th>
									<th>Description</th>
									<th>Type</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="idx in dashboard.forecast_seq" ng-if="!dashboard.dataErrorMsgThese">
									<td><span class="pull-left">{{ dashboard.forecast[idx].date|date:'EEE MMM dd, yyyy' }}</span></td>
									<td>
										<!--<span ng-show="dashboard.forecast[idx].ftype == 1"><a tooltip="{{ dashboard.forecast[idx].description }}">{{ dashboard.forecast[idx].vendor}}</a></span>-->
										<span ng-show="dashboard.forecast[idx].ftype == 1">{{ dashboard.forecast[idx].vendor}}<br /></span>
										<!--<span ng-show="dashboard.forecast[idx].ftype == 2">{{ dashboard.forecast[idx].description }}</span>-->
										<!--<br />-->
										<span ng-if="dashboard.forecast[idx].description">{{ dashboard.forecast[idx].description }}</span>
										<span ng-if="dashboard.forecast[idx].notes"> - <em>{{ dashboard.forecast[idx].notes }}</em></span>
									</td>
									<td>{{ dashboard.forecast[idx].type }}</td>
									<td><span class="pull-right">{{ dashboard.forecast[idx].amount|currency }}</span></td>
								</tr>
								<tr ng-repeat="error in dashboard.dataErrorMsgThese" ng-if="dashboard.dataErrorMsgThese">
									<td colspan="4">{{ error.error }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Year to Year Comparison">
			<div class="row">
				<div class="col-md-6">
					<div class="table-responsive well">
						<table class="table table-bordered table-striped">
							<tr>
								<th>Category</th>
								<th ng-repeat="year in dashboard.ytdYear track by $index">
									<span class="pull-right">{{ year }}</span>
								</th>
							</tr>
							<tr ng-repeat="category in dashboard.categories track by $index" ng-if="category.id != 17 && category.id != 22">
								<td>{{ category.name }}</td>
								<td ng-repeat="year in dashboard.ytdYear track by $index">
									<span ng-if="!dashboard.ytdTotals[$index][category.id].future" class="pull-right">
										&nbsp;{{ dashboard.ytdTotals[$index][category.id].total | currency }}
									</span>
									<span ng-if="dashboard.ytdTotals[$index][category.id].future" class="pull-right forecast_amount"">
										&nbsp;{{ (dashboard.ytdTotals[$index][category.id].total + dashboard.ytdTotals[$index][category.id].forecast) | currency  }}
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Upcoming forecast payments">
			<div class="table-responsive well" style="width:60%">
				<table class="table table-bordered table-striped">
					<tr>
						<th><span class="pull-left">Date</span></th>
						<th><span class="pull-left">Description</span></th>
						<th><span class="pull-right">Debit</span></th>
						<th><span class="pull-right">Credit</span></th>
					</tr>
					<tr ng-repeat="repeat in dashboard.repeats" ng-class="{'overdue': repeat.dueDate <= dashboard.now}">
						<td>{{ repeat.next_due_date|date:'EEEE MMM dd, yyyy' }}</td>
						<td>
							{{ repeat.vendor.name }}
							<span ng-if="repeat.description"><br />{{ repeat.description }}</span>
							<span ng-if="repeat.notes" style="font-size: 10px"> - <em>{{ repeat.notes }}</em></span>
						</td>
						<td><span ng-if="repeat.type == 'CHECK' || repeat.type == 'DEBIT' || repeat.type == 'SALE'" class="pull-right">{{ repeat.amount|currency }}</span></td>
						<td><span ng-if="repeat.type == 'CREDIT' || repeat.type == 'DSLIP' || repeat.type == 'RETURN' || repeat.type == 'PAYMENT'" class="pull-right">{{ repeat.amount|currency }}</span></td>
					</tr>
				</table>
			</div>
		</tab>
		<tab heading="Account Balances">
			<div class="table-responsive well" style="width:50%">
				<table class="table table-bordered table-striped">
					<tr>
						<th><span class="pull-left">Account</span></th>
						<th><span class="pull-left">Last Reconciled</span></th>
						<th><span class="pull-right">Balance</span></th>
					</tr>
					<tr ng-repeat="balance in dashboard.balances">
						<td ng-class="{ 'closed': balance.date_closed }">{{ balance.account_name }}</td>
						<td ng-class="{ 'closed': balance.date_closed }">{{ balance.transaction_date|date:'EEEE MMM dd, yyyy' }}</td>
						<td ng-class="{ 'closed': balance.date_closed }"><span class="pull-right">{{ balance.bank_account_balance|currency }}</span></td>
					</tr>
				</table>
			</div>
		</tab>
	</tabset>
</div>
