<div class="container-fluid">
	<h1 class="page-header">Login</h1>

	<form role="form" ng-submit="login()" style="padding-left: 10px;">
		<div class="row">
			<div class="col-md-2">
				<label for="account">Account:</label>
				<div class="form-group">
					<input type="text" class="form-control" name="account" ng-model="credentials.account" autocomplete="off" ng-change="errorMsg = null" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="username">Username:</label>
				<div class="form-group">
					<input type="text" class="form-control" name="username" ng-model="credentials.username" ng-change="errorMsg = null" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="password">Password:</label>
				<div class="form-group">
					<input type="password" class="form-control" name="password" ng-model="credentials.password" ng-change="errorMsg = null" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary" ng-click="errorMsg = null">Submit</button>
			</div>
			<div class="col-md-8 pull-left" ng-if="error" style="color:red"><b>{{ errorMsg }}</b></div>
		</div>
	</form>
</div>
<div ng-if="errorMsgs[0]">
	<div ng-repeat="error in errorMsgs">{{error}}</div>
</div>
