<div class="container-fluid">
	<h1 class="page-header">Repeats<span ng-if="is_admin"> - Admin View</span></h1>
	<div ng-if="error">{{error}}</div>
	<div class="form-wrap" ng-if="searchDisplay">
		<form>
			<div class="row">
				<div class="col-sm-1">
					<label for="last_due_date">All</label>
					<input type="checkbox" class="form-control" name="last_due_date" ng-model="search.last_due_date" ng-change="refreshData()" />
				</div>
				<div class="col-sm-2">
					<label for="name">Vendor Name</label>
					<input type="text" class="form-control input-sm search" name="name" data-length="4" ng-model="search.name" ng-change="refreshData()" />
				</div>
				<div class="col-sm-2">
					<label for="category">Category</label>
					<select class="form-control" name="category" ng-model="search.category_id" ng-options="category.id as category.name for category in categories" ng-change="refreshData()">
						<option value="">Select Category</option>
					</select>
				</div>
				<div class="col-sm-2">
					<label for="account">Account</label>
					<select class="form-control" name="bank_account_id" ng-model="search.bank_account_id" ng-options="account.id as account.name for account in active_accounts" ng-change="refreshData()">
						<option value="">Select Account</option>
					</select>
				</div>
				<div class="col-sm-1">
					<label for="amount">Amount</label>
					<input type="text" class="form-control input-sm search" name="amount" data-length="4" ng-model="search.amount" ng-change="refreshData()" />
				</div>
				<div class="col-sm-1" style="padding-top:20px;">
					<button type="button" class="btn-sm btn-primary" ng-model="singleModel" ng-click="addRepeat()">New</button>
				</div>
			</div>
		</form>
	</div>
	<div class="table-responsive" ng-if="!dataErrorMsg[0] && !error">
		<table>
			<thead>
				<tr>
					<th>Vendor</th>
					<th>Category</th>
					<th>Account</th>
					<th>First Due Date</th>
					<th>Next Due Date</th>
					<th>Last Due Date</th>
					<th>Amount</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="repeats_seq.length > 0" ng-repeat="idx in repeats_seq">
					<td ng-if="repeats[idx].category.name"><span class="pull-left">{{repeats[idx].vendor.name}}</span></td>
					<td ng-if="repeats[idx].category.name"><span class="pull-left">{{repeats[idx].category.name}}</span></td>
					<td colspan="2" ng-if="!repeats[idx].category.name"><span class="pull-left">--Split--</span></td>
					<td><span class="pull-left">{{ repeats[idx].bankName }}</td>
					<td><span class="pull-left">{{ repeats[idx].first_due_date }}</span></td>
					<td><span class="pull-left">{{ repeats[idx].next_due_date }}</span></td>
					<td><span class="pull-left">{{ repeats[idx].last_due_date }}</span></td>
					<td><span class="pull-left">{{ repeats[idx].amount }}</span></td>
					<td>
						<span class="glyphicon glyphicon-pencil" ng-click="editRepeat(repeats[idx].id)" style="cursor:pointer;" title="Edit Repeat ?"></span>
						<span class="glyphicon glyphicon-trash" ng-click="deleteRepeat(repeats[idx].id)" style="cursor:pointer;" title="Delete Reapeat ?"></span>
					</td>
				</tr>
				<tr ng-show="repeats_seq.length == 0">
					<td colspan="7">No repeats found</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="recCount > itemsPerPage">
			<div class="col-sm-12">
				<pagination boundary-links="true" max-size="maxSize" total-items="recCount" items-per-page="itemsPerPage" ng-model="search.currentPage"
					previous-text="&lsaquo;"  next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
				<span style="vertical-align:middle;padding-left:40px;">Total records: {{recCount | number}}</span>
			</div>
		</div>
	</div>
	<div ng-if="dataErrorMsg[0]">
		<p class="text-muted" ng-repeat="error in dataErrorMsg">{{error}}</p>
	</div>
</div>
