<!--<ng-include src="'app/views/templates/reconcileTransactionsModal.html'"></ng-include>-->
<ng-include src="'app/views/templates/popover.html'"></ng-include>

<div class="container-fluid"><!-- viewport-width>-->
	<h1 class="page-header">Budget</h1>
	<div ng-if="error">{{error}}</div>
	<div class="table-responsive" ng-if="!dataErrorMsg[0] && !error">
		<table class="dashboard">
			<thead>
				<tr>
					<th><span class="pull-right">Period Ending</span></th>
					<th style="text-align:center;" ng-repeat="period in periods|getIntervals:period_start" ng-class="{'currentInterval':period.current_interval}">
						<span>{{ period.interval_ending|displayDate:period.budget_mode }}</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th nowrap>Balance Forward</th>
					<td ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{ 'currentInterval':period.current_interval }" style="padding:2px!important;">
						<span class="pull-right" ng-if="$index == 0">{{ period.balance_forward|currency }}</span>
					</td>
				</tr>
				<tr ng-repeat="category in categories track by $index">
					<th style="padding:2px!important;">{{ category.name }}</th>
					<td ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{ 'currentInterval':period.current_interval }" id="popover_{{$index}}_{{category.id}}">
						<div class="pull-right">
							<span ng-if="period.types[category.id] >= 0">
								<a ng-class="{ 'forecast_amount':period.types[category.id] == 2 || period.types[category.id] == 6,
												'actual_and_forecast_amount':period.types[category.id] == 3,
												'repeat_amount':period.types[category.id] == 4 || period.types[category.id] == 5 || period.types[category.id] == 7 }"
									tooltip="Iudico aperiam scripserit"
									ns-popover="showTheseTransactions(category.id, $index, category.name, period.types[category.id])"
									ns-popover-placement="right"
									ns-popover-template="transactions"
									ns-popover-trigger="click"
									ns-popover-theme="ns-popover-custom-theme"
									ns-popover-timeout="0">
									{{ period.totals[category.id]|currency }}
								</a>
							</span>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th nowrap>Totals</th>
					<td ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{ 'currentInterval':period.current_interval }" style="padding:2px!important;">
						<span class="pull-right">{{ period.interval_total|currency }}</span>
					</td>
				</tr>
				<tr>
					<th nowrap>Running Totals</th>
					<td ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{'currentInterval':period.current_interval}" style="padding:2px!important;">
						<span class="pull-right">{{ period.running_total|currency }}</span>
					</td>
				</tr>
				<!-- now get the bank accounts -->
<!--				<tr ng-repeat="account in periods[0].accounts track by $index">
					<td class="banks" nowrap>{{ account.name }}</td>
					<td class="balances" ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{'currentInterval':period.current_interval}" style="padding:2px!important;">
						<span ng-show="period.accounts[$parent.$index].reconciled == 0" class="pull-right forecast_amount">
							{{ period.accounts[$parent.$index].balance|currency }}
						</span>
						<button ng-show="period.accounts[$parent.$index].reconciled == 1" type="button" class="pull-right" style="width:74px;margin:0;padding:0;"
										title="Click to Reconcile {{ account.name }} Account">
							<span class="pull-right" style="margin:0;padding:0;" ng-click="reconcile(account, period, $parent.$index)">
								{{ period.accounts[$parent.$index].balance|currency }}
							</span>
						</button>
						<span ng-show="period.accounts[$parent.$index].reconciled == 2" class="pull-right"
										title="{{ account.name }} is reconciled up to {{ account.reconciled_date|date:'EEE MMM dd, yyyy'}}">
							<img ng-src="app/images/transparent-green-checkmark-th.png" height="12" width="8" />
							{{ period.accounts[$parent.$index].balance|currency }}
						</span>
						<span ng-show="period.accounts[$parent.$index].reconciled == 3" class="pull-right">
							{{ period.accounts[$parent.$index].balance|currency }}
						</span>
						<span ng-show="period.accounts[$parent.$index].reconciled == 99" class="pull-right">
							N/A
						</span>
					</td>
				</tr>-->
				<tr ng-repeat="account in bank_accounts track by $index">
					<td class="banks" nowrap>{{ account.name }}</td>
					<td class="balances" ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{'currentInterval':period.current_interval}" style="padding:2px!important;">
						<span ng-show="period.accounts[$parent.$index].reconciled == 0" class="pull-right forecast_amount">
							{{ period.accounts[$parent.$index].balance|currency }}
						</span>
						<button ng-show="period.accounts[$parent.$index].reconciled == 1" type="button" class="pull-right" style="width:74px;margin:0;padding:0;"
										title="Click to Reconcile {{ account.name }} Account">
							<span class="pull-right" style="margin:0;padding:0;" ng-click="reconcile(account, period, $parent.$index)">
								{{ period.accounts[$parent.$index].balance|currency }}
							</span>
						</button>
						<span ng-show="period.accounts[$parent.$index].reconciled == 2" class="pull-right"
										title="{{ account.name }} is reconciled up to {{ account.reconciled_date|date:'EEE MMM dd, yyyy'}}">
							<img ng-src="app/images/transparent-green-checkmark-th.png" height="12" width="8" />
							{{ period.accounts[$parent.$index].balance|currency }}
						</span>
						<span ng-show="period.accounts[$parent.$index].reconciled == 3" class="pull-right">
							{{ period.accounts[$parent.$index].balance|currency }}
						</span>
						<span ng-show="period.accounts[$parent.$index].reconciled == 99" class="pull-right">
							N/A
						</span>
					</td>
				</tr>
			</tfoot>
		</table>
		<div>
			<div class="pull-left pointer" ng-click="moveInterval(-1)"><<<</div>
			<div class="pull-right pointer" ng-click="moveInterval(1)">>>></div>
		</div>
	</div>
	<div ng-if="dataErrorMsg[0]">
		<p class="text-muted" ng-repeat="error in dataErrorMsg">{{error}}</p>
	</div>
</div>
