<div class="container-fluid"><!-- viewport-width>-->
	<h1 class="page-header">Budget</h1>
	<div ng-if="error">{{error}}</div>
	<div class="table-responsive" ng-if="!dataErrorMsg[0] && !error">
		<table class="dashboard">
			<thead>
				<tr>
					<th><span class="pull-right">Period Ending</span></th>
					<th style="text-align:center;" ng-repeat="period in periods|getIntervals:period_start" ng-class="{'currentInterval':period.current_interval}">
						<span>{{period.interval_ending|date:'EEE MMM dd, yyyy'}}</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th nowrap>Balance Forward</th>
					<td ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{'currentInterval':period.current_interval}">
						<span class="pull-right" ng-if="$index == 0">{{period.balance_forward|currency}}</span>
					</td>
				</tr>
				<tr ng-repeat="category in categories">
					<th nowrap>{{category.name}}</th>
					<td ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{'currentInterval':period.current_interval}">
						<span class="pull-right" ng-class="{'forecast_amount':period.types[category.id] == '1'}">{{period.totals[category.id]|currency}}</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th nowrap>Totals</th>
					<td ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{'currentInterval':period.current_interval}">
						<span class="pull-right">{{period.interval_total|currency}}</span>
					</td>
				</tr>
				<tr>
					<th nowrap>Running Totals</th>
					<td ng-repeat="period in periods|getIntervals:period_start" nowrap ng-class="{'currentInterval':period.current_interval}">
						<span class="pull-right">{{period.running_total|currency}}</span>
					</td>
				</tr>
			</tfoot>
		</table>
		<div>
			<div class="pull-left pointer" ng-click="moveInterval(-1)"><<<</div>
			<div class="pull-right pointer" ng-click="moveInterval(1)">>>></div>
		</div>
	</div>
	<div ng-if="dataErrorMsg[0]">
		<p class="text-muted" ng-repeat="error in dataErrorMsg">{{error}}</p>
	</div>
</div>
