<div class="container-fluid">
	<h1 class="page-header">Transactions<span ng-if="is_admin"> - Admin View</span></h1>
	<div ng-if="error">{{error}}</div>
	<div class="form-wrap" ng-if="searchDisplay">
		<form>
			<div class="row">
				<div class="col-sm-2" style="padding-left: 25px;">
					<label for="date">Date</label>
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" name="date" ng-model="search.date" is-open="$parent.opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="refreshData()" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				<div class="col-sm-2">
					<label for="vendor">Text Search</label>
					<input type="text" class="form-control input-sm search" name="vendor" data-length="4" ng-model="search.vendor" ng-change="refreshData()" />
				</div>
				<div class="col-sm-2">
					<label for="category">Category</label>
					<select class="form-control" name="category" ng-model="search.category_id" ng-options="category.id as category.name for category in categories" ng-change="refreshData()">
						<option value="">Select Category</option>
					</select>
				</div>
				<div class="col-sm-2">
					<label for="account">Account</label>
					<select class="form-control" name="bank_account_id" ng-model="search.bank_account_id" ng-options="account.id as account.name for account in active_accounts" ng-change="refreshData()">
						<option value="">Select Account</option>
					</select>
				</div>
				<div class="col-sm-1">
					<label for="amount">Amount</label>
					<input type="text" class="form-control input-sm search" name="amount" data-length="4" ng-model="search.amount" ng-change="refreshData()" />
				</div>
				<div class="col-sm-1" style="padding-top:25px;">
					<button type="button" class="btn-sm btn-primary" ng-model="singleModel" ng-click="addTransaction()">New</button>
				</div>
				<div class="col-sm-1" style="padding-top:25px;">
					<button type="button" class="btn-sm btn-primary" ng-model="singleModel" ng-click="uploadTransactions()">Upload</button>
				</div>
			</div>
		</form>
	</div>
	<div class="table-responsive table-lg" ng-if="!dataErrorMsg[0] && !error">
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Vendor/Description</th>
					<th>Category</th>
					<th>Account</th>
					<th>DEBIT</th>
					<th>CREDIT</th>
					<th>Balance</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="transactions_seq.length > 0" ng-repeat-start="idx in transactions_seq">
					<td rowspan="2">
						{{ transactions[idx].transaction_date|date:'EEE MMM dd, yyyy' }}
						<span ng-if="transactions[idx].is_uploaded == 1" class="glyphicon glyphicon-upload" title="Uploaded"></span>
						<span ng-if="transactions[idx].reconciled_date"><img ng-src="app/images/transparent-green-checkmark-th.png" height="12" width="8" title="Reconciled" /></span>
					</td>
					<td ng-if="transactions[idx].category_id && transactions[idx].category_id != 17">
						<span class="pull-left">{{ transactions[idx].vendor.display_name }}</span>
					</td>
					<td ng-if="transactions[idx].category_id && transactions[idx].category_id != 17">
						<span class="pull-left">{{ transactions[idx].category.name }}</span>
					</td>
					<td ng-if="transactions[idx].category_id && transactions[idx].category_id == 17" colspan="2" class="text-info">
						<span class="pull-left">{{ transactions[idx].category.name }}&nbsp;</span>
						<span class="pull-left" ng-if="transactions[idx].type == 'CHECK' || transactions[idx].type == 'DEBIT' || transactions[idx].type == 'SALE'">FROM</span>
						<span class="pull-left" ng-if="transactions[idx].type == 'CREDIT' || transactions[idx].type == 'DSLIP' || transactions[idx].type == 'RETURN' || transactions[idx].type == 'PAYMENT'">TO</span>
					</td>
					<td ng-if="!transactions[idx].category_id" colspan="2">
						<span class="pull-left">--Split--</span>
					</td>
					<td rowspan="2">{{ transactions[idx].bankName }}</td>
					<td rowspan="2"><span class="pull-right" ng-if="transactions[idx].type == 'CHECK' || transactions[idx].type == 'DEBIT' || transactions[idx].type == 'SALE'">{{ transactions[idx].amount|currency }}</span></td>
					<td rowspan="2"><span class="pull-right" ng-if="transactions[idx].type == 'CREDIT' || transactions[idx].type == 'DSLIP' || transactions[idx].type == 'RETURN' || transactions[idx].type == 'PAYMENT'">{{ transactions[idx].amount|currency }}</span></td>
					<td rowspan="2"><span class="pull-right">{{ transactions[idx].bank_account_balance|currency }}</span></td>
					<td rowspan="2" class="not-clickable-cell" ng-click="$event.stopPropagation()">
						<span class="glyphicon glyphicon-pencil" ng-click="editTransaction(transactions[idx].id)" style="cursor:pointer;" title="Edit Transaction ?"></span>
						<span class="glyphicon glyphicon-trash" ng-if="is_admin || (!transactions[idx].reconciled_date)" ng-click="deleteTransaction(transactions[idx].id)" style="cursor:pointer;" title="Delete Transaction ?"></span>
					</td>
				</tr>
				<tr ng-show="transactions_seq.length > 0" ng-repeat-end="">
					<td colspan="2" style="font-size: 10px;">
						<span class="pull-left">{{ transactions[idx].description }}</span>
						<span ng-if="transactions[idx].notes">&nbsp;- <em>{{ transactions[idx].notes }}</em></span>
					</td>
				</tr>
				<tr ng-show="transactions_seq.length == 0">
					<td colspan="8">No transactions found</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="recCount > itemsPerPage">
			<div class="col-sm-12">
				<pagination boundary-links="true" max-size="maxSize" total-items="recCount" items-per-page="itemsPerPage" ng-model="search.currentPage"
					previous-text="&lsaquo;"  next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
				<span style="vertical-align:middle;padding-left:40px;">Total records: {{recCount | number}}</span>
			</div>
		</div>
	</div>
	<div ng-if="dataErrorMsg[0]">
		<p class="text-muted" ng-repeat="error in dataErrorMsg">{{error}}</p>
	</div>
</div>
